/*fancybox*/

#pics img{
	width: 190px;
	height: auto;
	float: left;
	margin: 0px 5px 0px 5px;
}



/*facebook module*/
#facebook{
	margin-top: 10px;
	width: 600px;
	background-color:rgba(255,255,255,0.5);
	padding: 6px 34px 6px 6px;
	float: left;
	clear: both;
}
#facebookhome{
	position: absolute;
	top: -40px;
	left: 20px;
	width: 600px;
	height: 30px;
	float: left;
	clear: both;
}


/*FIM facebook module*/

/*modal box reservations*/
#dialog{
	background: white;
	border-bottom: 5px solid #f69f2c;
}
/*mod form reservations*/

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:fixed;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:355px;

}

#dialog h1{
font-family: 'Lato', sans-serif;
color: #1d7745;
font-size: 24px;
text-transform: capitalize;
margin-bottom: 10px;
}
#dialog h2{
font-family: 'Lato', sans-serif;
color: #1d7745;
font-size: 16px;
text-transform: capitalize;
margin-top: 8px;
}
#dialog p{
	margin-bottom: 6px; 
}
#sendres label{
	display: inline-block;
	margin-bottom: 2px;

}
#terms h2{
	font-family: 'Lato', sans-serif;
	color: #c2c434;
	font-size: 16px;
	padding-top: 8px;
}
#terms p{
	font-size: 12px !important;
	margin-bottom: 0px;
}
input#submit, input#reset{
	float: right;
	width: 80px;
	height: 26px;
	color: white;
	background: #c2c434;
	border: none;
	margin-right: 4px;
	clear: both;
	cursor: pointer;
}
p#btp{
	float: left;
	width: 350px;
	margin-top: 10px;
}
#dialog a.close{
	position: absolute;
	top: 0px;
	right: 10px;
	padding: 24px 6px 6px 6px;
	background: #1d7745;
	color: white;
	text-decoration: none;
	
}




/*fim mod form reservations*/
#datefield, #pickuptime, #specify, #reset{
	display: none;
}

/*mod promo*/
#promotions{
	float: left;
	background-color:#1d7745;
	min-width: 230px;
	max-width: 600px;
	min-height: 60px;
	max-height: 250px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
#promotion_text{
	width: 100%;
	clear: both;
}
#promotion_text p{
	float: left;
	clear: both;
}

#promotion_container{
	float: left;
	margin-right: 64px;
}
	#promotion_container h3{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		margin-top: 5px;
		margin-left: 5px;
	}
	#promotion_container h1{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		color: #fff;
		font-size: 21px;
		margin-left: 15px;
		margin-right: 15px;
		line-height: 40px;
		float: left;
	}

	#promotion_container p{
		font-family: 'Lato', sans-serif !important;
		font-weight:300 !important;
		color: #fff !important;
		line-height: 15px !important;
		text-align: justify !important;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		float: left;
	}

#seeMore{
	width: 64px;
	height: 100%;
	background-color: #165934;
	position: absolute;
	top:0;
	right:0;
}

.seeMorebtn{
	width:64px; 
	height:60px;
	cursor:pointer;
	background-image:url("../images/seemore.png");
	display: block;
}

.seeLessbtn{
	width:64px; 
	height:60px;
	cursor: pointer;
	background-image:url("../images/seeless.png");
	display: hidden;
}
/*fim mod promo*/



/*mod catalog*/

#modcatalog{
	float: left;
	clear: both;
}
#catalog{
	float: left;
	clear: both;
	background-color:#1d7745;
	min-width: 230px;
	max-width: 600px;
	min-height: 60px;
	max-height: 250px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}

#catalog_container{
	float: left;
	margin-right: 64px;
}
	#catalog_container h1{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		color: #fff;
		font-size: 21px;
		margin-left: 15px;
		margin-right: 15px;
		line-height: 50px;
		float: left;
	}

	#catalog_container p{
		font-family: 'Lato', sans-serif !important;
		font-weight:300 !important;
		color: #fff !important;
		line-height: 15px !important;
		text-align: justify !important;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		float: left;
	}
#download{
width: 64px;
height: 100%;
background-color: #165934;
position: absolute;
top: 0;
right: 0;
}

.downloadbtn{
	float: right;
	width:64px; 
	height:60px;
	cursor:pointer;
	background-image:url("../images/downloadbtn.png");
	display: block;
	border: none;
	outline: none;
	text-indent: -9999px;
	overflow: hidden;
}


/*MAPA OVERLAY*/


/*modal box reservations*/
#mapdialog{
	background: white;
	border-bottom: 5px solid #c2c434;
}
/*mod form reservations*/

/* Z-index of #mask must lower than #boxes .window */
#mapmask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#mapbox .mapwindow {
  position:fixed;
  display:none;
  z-index:9999;
}
 
 
/* Customize your modal window here, you can add background image too */
#mapbox #mapdialog {
  width:600px;

}
#mapdialog{
	padding: 50px 20px 20px 20px;
}
#mapdialog a.close{
	position: absolute;
	top: 0px;
	right: 10px;
	padding: 24px 6px 6px 6px;
	background: #c2c434;
	color: white;
	text-decoration: none;
	
}


/*CONTACT OVERLAY*/


/*modal box reservations*/
#contactdialog{
	background: white;
	border-bottom: 5px solid #1d7745;
}
/*mod form reservations*/

/* Z-index of #mask must lower than #boxes .window */
#contactmask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#contactbox .contactwindow {
  position:fixed;
  display:none;
  z-index:9999;
}
 
 
/* Customize your modal window here, you can add background image too */
#contactbox #contactdialog {
  width:400px;

}
#contactdialog{
	padding: 50px 20px 20px 20px;
}
#contactdialog a.close{
	position: absolute;
	top: 0px;
	right: 10px;
	padding: 24px 6px 6px 6px;
	background: #1d7745;
	color: white;
	text-decoration: none;
	
}



